<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seat</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="container-fluid pt-lg-5 my-5" style="width: 80rem">
      <h3 class="text-center mb-4">Check in khách</h3>

      <div
        th:replace="~{components/seat-ui :: cinemaSeat(seatMap=${seatMap}, mode = 'STAFF_CHECKIN')}"
      ></div>
    </div>

    <script>
      function toggleSeat(seat) {
        if (seat.classList.contains("disabled")) return;

        if (seat.classList.contains("btn-outline-secondary")) {
          seat.classList.remove("btn-outline-secondary");
          seat.classList.add("btn-success", "selected");
        } else {
          seat.classList.remove("btn-success", "selected");
          seat.classList.add("btn-outline-secondary");
        }
      }

      function getSelectedSeats() {
        const selectedSeat = document.querySelectorAll(".seat-item.selected");
        const inputHidden = document.getElementById("selectedSeatIdsInput");
        const selectedIds = Array.from(selectedSeat).map((seat) =>
          seat.getAttribute("data-id"),
        );

        inputHidden.value = selectedIds.join(",");

        console.log("Các ID ghế đã chọn:", selectedIds);
      }
    </script>
  </body>
</html>
